.pokemons {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0;
    padding: 0;
    list-style: none;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    filter: opacity(0.8);
    width: 40px;
    height: 40px;
}

.pokemon {
    display: flex;
    flex-direction: column;
    margin: .5rem;
    padding: 1rem;
    border-radius: 1rem;
}

.pokemon .number {
    color: #000;
    opacity: .3;
    text-align: right;
    font-size: .625rem;
}

.pokemon .name {
    text-transform: capitalize;
    color: #fff;
    margin-bottom: .25rem;
}

.pokemon .detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.pokemon .detail .types {
    padding: 0;
    margin: 0;
    list-style: none;
}

.pokemon .detail .types .type {
    color: #fff;
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: .625rem;
    border-radius: 1rem;
    filter: brightness(1.1);
    text-align: center;
}

.pokemon-img {
    max-width: 100%;
    height: 70px;
}

.btn-details {
    width: 50%;
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: .625rem;
    color: #fff;
    background-color: #6c79db;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
}

.return-btn {
    font-size: 1.3rem;
    color: #FFFF;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.pagination button {
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: .625rem;
    color: #fff;
    background-color: #6c79db;
    border: none;
    border-radius: 1rem;
}

/* NEW PAGE */

.details-title {
    display: flex;
    color: #FFFF;
    justify-content: space-between;
    text-transform: capitalize;
    border-radius: 20px;
    padding: 14px 24px;
    box-shadow: 0 0 3px 0 rgb(0, 0, 0, 0.25);
}


.details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 12rem 2rem;
    text-transform: capitalize;
    background-color: #f2f2f2;
    border-radius: 1rem;
    box-shadow: 0 0 3px 0 rgb(0, 0, 0, 0.25);
    position: relative;
}

.details-image {
    top: -25vh;
    position: absolute;
    width: 180px;
    height: 180px;
}

.detail-list {
    padding: 0 12px;
    list-style: none;
}

.detail-list li {
    display: flex;
    justify-content: space-between;
    padding: 6px;
    gap: 3px;
}

.detail-list li span {
    padding: 0 8px;
}

.upper > li:nth-child(1) {
    text-transform: uppercase;
}

.pd-0 {
    padding: 0 !important;
}

@media screen and (min-width: 380px) {
    .pokemons {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 576px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 992px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}